@layer reset, base, tokens, recipes, utilities;

@import "tailwindcss";



@font-face {
    font-family: CGB;
    src: url('/Century Gothic Bold.ttf');
}

@font-face {
    font-family: HelveticaNeue;
    src: url('/HelveticaNeueLight.otf');
}

html {
  overflow-x: hidden;
}

body {
  padding-top: var(--header-height, 0px);
  overflow-x: hidden;
  background-color: white;
}

h1 {
    color: #808080;
    font-family: HelveticaNeue;

}

.main_header {

    font-size: clamp(2.5rem, 4.2vw, 7.5rem);
    color:#071f97;
    line-height: 1;
    font-family: CGB;

}

.secondary_header {

    font-size: clamp(1.2rem, 2vw, 2.5rem);
    color: #808080;
    font-family: HelveticaNeue;
    


}

.main_text {
    color:'white';
    font-family: HelveticaNeue;

}

.secondary_text {
    color:#808080;
    font-family: HelveticaNeue;

}

.icon {

}

p {
    
    font-family: HelveticaNeue;
    font-size: clamp(.8rem, 1vw, 1.2rem);
}

.button {

    color: white;
    border-radius: 20px;
    border-width: 2px;
    border-color: white;
    background-color: var(--button-bg);
    transition: .3s;
    padding:1.5rem;
    font-size: clamp(1rem, 1.2vw, 1.6rem);
    align-self: start;

}

.button:hover {
    color: var(--button-bg);
    background: white;
    border-color: var(--button-bg);
}

.paddedwrapper {
    padding:20px
}